networkPolicies:
  enabled: false
  controlPlaneCidr: 0.0.0.0/0
  vpcCidr: 0.0.0.0/0
  ingressLabels:
    app: istio-ingressgateway
    istio: ingressgateway
  additionalPolicies: []

domain: bigbang.dev

istio:
  enabled: false
  hardened:
    enabled: false
    customAuthorizationPolicies: []
    # - name: "allow-nothing"
    #   enabled: true
    #   spec: {}
    outboundTrafficPolicyMode: "REGISTRY_ONLY"
    customServiceEntries: []

    tempo:
      enabled: false
      namespaces:
      - tempo
      principals:
      - cluster.local/ns/tempo/sa/tempo-tempo
    minio:
      enabled: true
      namespaces:
      - minio
      principals:
      - cluster.local/ns/minio/sa/minio-minio-minio-instance-sa
  mtls:
    # STRICT = Allow only mutual TLS traffic
    # PERMISSIVE = Allow both plain text and mutual TLS traffic
    mode: STRICT

openshift: false

monitoring:
  enabled: false
  namespace: monitoring

annotations: {}

# Used in templates/bigbang/tenant-patch-job.yaml
# Needed for operator upgrade.go logic to cleanly upgrade from bb v4.2.3 to v4.4.3
tenantPatchJob:
  enabled: false
  image:
    repository: registry1.dso.mil/ironbank/big-bang/base
    tag: 2.1.0
    pullSecrets:
      - private-registry
installCRDs: true

bbtests:
  enabled: false
  cypress:
    artifacts: true
    resources:
      requests:
        cpu: "2"
        memory: "4Gi"
      limits:
        cpu: "2"
        memory: "4Gi"
    envs:
      cypress_url: 'http://console.minio-operator.svc.cluster.local:9090'


# -- Values to pass to [the upstream minio-operator chart](https://github.com/minio/operator/blob/master/helm/operator/values.yaml)
# @default -- Upstream chart values
upstream:
  nameOverride: minio-operator
  operator:
    env:
      - name: MINIO_OPERATOR_TLS_ENABLE
        value: "on"
      - name: CLUSTER_DOMAIN
        value: "cluster.local"
      - name: WATCHED_NAMESPACE
        value: ""
      - name: OPERATOR_STS_ENABLED
        value: "on"
    image:
      repository: registry1.dso.mil/ironbank/opensource/minio/operator
      tag: v7.1.1
      pullPolicy: IfNotPresent
    sidecarImage:
      repository: registry1.dso.mil/ironbank/opensource/minio/operator-sidecar
      tag: v7.0.1
      digest: ""
      pullPolicy: IfNotPresent
    imagePullSecrets: [ ]
    runtimeClassName: ~
    resources:
      requests:
        cpu: 200m
        memory: 256Mi
        ephemeral-storage: 500Mi
      limits:
        cpu: 200m
        memory: 256Mi
    podLabels: {}

