# -- Network Policy configuration; see bb-common network policy docs for details: https://repo1.dso.mil/big-bang/product/packages/bb-common/-/tree/main/docs/network-policies?ref_type=heads
# @default -- Basic configuration necessary for minio-operator to function
networkPolicies:
  enabled: false
  egress:
    from:
      minio-operator:
        to:
          definition:
            kubeAPI: true
          k8s:
            # Allow minio operator to egress to minio tenants in any namespace
            "*:9000": true
  ingress:
    to:
      minio-operator:4222:
        from:
          k8s:
            # Allow ingress to minio operator from minio tenants in any namespace
            "*": true

# -- Istio configuration; see bb-common istio docs for details: https://repo1.dso.mil/big-bang/product/packages/bb-common/-/tree/main/docs/istio?ref_type=heads
# @default -- Istio disabled
istio:
  enabled: false

# -- Routes configuration; see bb-common routes docs for details: https://repo1.dso.mil/big-bang/product/packages/bb-common/-/tree/main/docs/routes?ref_type=heads
# @default -- No routes defined
routes: {}

domain: bigbang.dev

openshift: false

monitoring:
  enabled: false
  namespace: monitoring

annotations: {}

# Used in templates/bigbang/tenant-patch-job.yaml
# Needed for operator upgrade.go logic to cleanly upgrade from bb v4.2.3 to v4.4.3
tenantPatchJob:
  enabled: false
  image:
    repository: registry1.dso.mil/ironbank/big-bang/base
    tag: 2.1.0
    pullSecrets:
      - private-registry
installCRDs: true

bbtests:
  enabled: false


# -- Values to pass to [the upstream minio-operator chart](https://github.com/minio/operator/blob/master/helm/operator/values.yaml)
# @default -- Upstream chart values
upstream:
  nameOverride: minio-operator
  operator:
    env:
      - name: CLUSTER_DOMAIN
        value: "cluster.local"
      - name: WATCHED_NAMESPACE
        value: ""
      - name: OPERATOR_STS_ENABLED
        value: "on"
    image:
      repository: registry1.dso.mil/ironbank/opensource/minio/operator
      tag: v7.1.1
      pullPolicy: IfNotPresent
    sidecarImage:
      repository: registry1.dso.mil/ironbank/opensource/minio/operator-sidecar
      tag: v7.0.1
      digest: ""
      pullPolicy: IfNotPresent
    imagePullSecrets: [ ]
    runtimeClassName: ~
    resources:
      requests:
        cpu: 200m
        memory: 256Mi
        ephemeral-storage: 500Mi
      limits:
        cpu: 200m
        memory: 256Mi
    podLabels: {}

